
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}
 html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
} 
.container{
    max-width: 1500px;
    padding-top: 2em ;
  
   
}

header .container  {
    width: 100%;
     
    margin: 0% auto;
    background-color: white;
   
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.nav_logo{
    font-weight: 600;
    cursor: pointer;
    margin-right: auto;
    display:flex;
    font-size: 2rem;
}
.nav_menu a{
    /* height: 3.5rem; */
    position: relative;
    text-transform: capitalize;
    font-size: 1em;
    color: rgb(12, 12, 12);
    font-weight: 500;
    margin-right: 3.5em;
    font-size: 20px;
}
.nav_menu a:hover{
    color: rgb(129, 127, 125);
}
#menuicon{
    font-size: 3.6em;
    color: rgb(8, 8, 8);
display: none;}

.home .container{
    background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0% auto;
    padding-top: 2em;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home h1{
    font-size: 50px;
    text-align: center;
    margin-top: 2em;
    justify-items: center;
    color: aliceblue;
    padding-bottom: 1em;
    font-family: 'Montserrat' ;
    
}
.home p{
    font-size: 20px;
    max-width: 90%;
    
    
    text-align: center;
    padding-bottom: 20px;
    color: aliceblue;

}
.home button{
    border:none;
    background-color: rgb(172, 172, 196);
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius:10px;
    padding: 8px 10px;
    right: 50%;
    
 

}
.home button:hover{
    background-color: black;
}
.about .container{
    width: 100%;
    margin: 0% auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
}
.about img{
    width: 100%;
    height: auto;
   
}
.abouts h1{
    text-align: center;
    color: black;
    font-size: 30px;
    padding-bottom: 1em;
    font-family: 'Montserrat' ;
}
.abouts p{
    text-align: justify;
    font-size: 30px;
    padding-bottom: 1em;
    line-height: 1.5;
}
.abouts a{
    font-size: 20px;
    text-align: center;
}
 /* CAROUSEL */
.picture .container{
    width:100%;
    margin: 0% auto;
     
}
.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 80vh;
}


.slide {
    min-width: 100%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
 /* TESTIMONAL */

 .testimonial .container{
    width: 100%;
    margin: 0% auto;
  

 }
 .testimonial h1{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Montserrat';
 }
 .reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

 }
 .people ,
 
 .people3{
    background-color: aliceblue;
    border: 1px transparent ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    

 }
 .people2 {
    background-color: rgb(118, 122, 124);
    border: 1px transparent ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

 }
 .people p,
 .people2 p ,
 .people3 p{
    font-size: 20px;
   padding: 1.5em;
 }
 footer .container{
    width: 100%;
    margin: 0% auto;
    background-color: rgb(218, 209, 209);
    color: rgb(36, 34, 34);
    border-radius: 10px;
    margin-top: 2em;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

 }
 .ready h3{
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat' ;
 }
 .ready p{
    text-align: center;
    font-size: 20px;
 }
.links{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2em;
 
  padding-left: 2em;
}
.links h3{
    font-size: 18px;
    padding-bottom: 20px;

}
.links a{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding-bottom: 20px;
}
 



    
/* .ready{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.ready h3{
    font-size: 40px; */
 
@media screen  and (max-width:991px) {
    header .container{
          position: fixed; 
    }
    #menuicon{
        display: block;
    }
    html{
        font-size: 62.5%;
    }
    .nav_menu{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: linear-gradient(135deg,#a5a7a6, #373542);
        border-top: o.1rem solid black;
        display: none;
        padding-left: -2em;
        border-radius: 10px;
        text-align: center;

        
    }
    .nav_menu.active{
        display: block;
    }
    .nav_menu a{
        display: block;
        font-size: 2em;
        color: white;
         margin: 2rem 0; 
    }
    .home h1{
        font-size: 30px;
        text-align: center;
        padding-top: 2em;
    }
    .about .container{
       grid-template-columns: repeat(1, 1fr);
       gap: 1em;
    }
    .about img{
        height: auto;
        width: 100%;
    }
    .abouts{
        margin-top: 0%;
    }
    .people p,
    .people2 p ,
    .people3 p{
       font-size: 18px;
       
    }
}



@media screen  and (max-width:750px){
.home h1{
    font-size: 20px;

}
.home p{
    font-size: 18px;
}

    .about .container {
        grid-template-columns: 1fr;
        gap: 1em; 
    }
    .about img {
        width: 100%;
        height: auto; /* Ensure the image scales well */
        margin-bottom: 1em; /* Add a smaller margin between the image and the text */
    }
    .abouts {
        margin-top: 0;
        padding: 0 1em; 
    }

    .reviews{
        grid-template-columns: repeat( 1, 1fr);
    }
    .people2{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .links{
       flex-direction: column;
       justify-content: start;
       align-items: start;
       gap:2em;
    }

    
}
@media screen  and (max-width:480px){
    html{
        font-size: 62.5%;
    }
    .nav_menu{
        width: 100%;
    }
    .nav_menu a{
        font-size: 16px;
    }

    .home h1{
        font-size: 18px;
    
    }
    .home p{
        font-size: 17px;
    }
    .abouts p{
        font-size: 17px;
    }
    .ready h3{
        font-size: 23px;
        padding-bottom: 1em;

    }
}
@media screen and (max-width:432px) {
    .home p{
        padding-bottom: 10px;
    }
   
}
@media screen  and (max-width:416px){
    .nav_menu{
        width: 100%;
    }
    .nav_menu a{
        font-size: 16px;
    }

    .home h1{
        font-size: 17px;
    
    }
    .home p{
        font-size: 16px;
        padding-bottom: 1-px;
    }
}
